/*
 * To remove borders and scroll bars from the sketch page,
 * and to keep canvas in the center of the browser window at all times.
 */

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

canvas {
    grid-row: 1;
    grid-column: 1;
}
